/* @media only screen and (max-width: 768px) { */
#appLogo {
  height: 200px;
}

/* } */

.logoContainer {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.appLogoContainer {
  max-width: 900px;
  margin: auto;
}

@media (max-width: 549px) {
  .supportContainer {
    flex-direction: column;
  }
}

@media (min-width: 549px) {
  .supportButton {
    max-width: 300px;
  }
}

.supportButton {
  flex-grow: 1;
  flex-basis: 0;
}

a.kofi-button {
  min-height: 44px;
}
